@charset "UTF-8";
.contact {
  display: flex;
  background-color: #b1b1b1;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}
.contact-info {
  margin-left: 10px;
}

.femaleSign {
  position: relative;
}
.femaleSign img {
  width: 100px;
}
.femaleSign::before {
  background-image: url("../img/gender/female.svg");
  content: "";
  position: absolute;
  background-image: url("../img/gender/female.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 75px;
}

.maleSign {
  position: relative;
}
.maleSign img {
  width: 100px;
}
.maleSign::before {
  content: "";
  position: absolute;
  background-image: url("../img/gender/female.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 75px;
  background-image: url("../img/gender/male.svg");
}

.otherSign {
  position: relative;
}
.otherSign img {
  width: 100px;
}
.otherSign::before {
  content: "";
  position: absolute;
  background-image: url("../img/gender/female.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 75px;
  background-image: url("../img/gender/other.svg");
}

details {
  border: 1px solid black;
  width: 35%;
  margin: 2px;
}
@media (max-width: 630px) {
  details {
    width: 50%;
  }
}
@media (max-width: 425px) {
  details {
    width: 80%;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

details summary:before {
  content: "📞";
  margin-right: 7px;
}

details[open] summary:before {
  content: "📖";
}

summary {
  background-image: linear-gradient(90deg, #ff9d81 24.3%, #ff4e4e 78.3%);
  padding: 10px;
}
summary:focus {
  outline: none;
  border: none;
}

details[open] summary {
  background-image: linear-gradient(-90deg, #ff9d81 24.3%, #ff4e4e 78.3%);
}

.contact-title {
  font-family: "Cormorant Infant", serif;
  font-size: calc(14px + 8 * ((100vw - 320px) / 1120));
  font-weight: 900;
}

.contact-info-header {
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
  color: #533e3e;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
}
.contact-info-header span {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  color: #181212;
}